<!-- open graph -->
<meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}" />
<meta property="og:title" content="{{ .Title }}" />
<meta property="og:description" content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}" />
<meta property="og:url" content="{{ .Permalink }}" />
{{- with .Site.Params.title }}
<meta property="og:site_name" content="{{ . }}" />
{{ end }}
<meta property="og:locale" content="en">

{{ if .IsPage }}
{{ if .Params.cover }}
<meta property="og:image" content="{{ .Params.cover | relURL }}" />
<meta property="og:image:secure_url" content="{{ .Params.cover | absURL }}" />
{{ end }}
{{ else }}
<meta property="og:image" content="{{ .Site.Params.og_image | relURL }}" />
<meta property="og:image:secure_url" content="{{ .Site.Params.og_image | absURL }}" />
{{ end }}

{{- $iso8601 := "2006-01-02T15:04:05-07:00" -}}

{{- if .IsPage }}
{{- if not .PublishDate.IsZero }}
<meta property="article:published_time" {{ .PublishDate.Format $iso8601 | printf "content=%q" | safeHTMLAttr }} />
{{ else if not .Date.IsZero }}
<meta property="article:published_time" {{ .Date.Format $iso8601 | printf "content=%q" | safeHTMLAttr }} />
{{ end }}

{{- if not .Lastmod.IsZero }}
<meta property="article:modified_time" {{ .Lastmod.Format $iso8601 | printf "content=%q" | safeHTMLAttr }} />{{ end }}
{{- else }}
{{- if not .Date.IsZero }}
<meta property="og:updated_time" {{ .Lastmod.Format $iso8601 | printf "content=%q" | safeHTMLAttr }} />
{{- end }}
{{- end }}

<!-- If it is part of a series, link to related articles -->
{{- $permalink := .Permalink }}
{{- $siteSeries := .Site.Taxonomies.series }}
{{ with .Params.series }}
{{- range $name := . }}
{{- $series := index $siteSeries $name }}
{{- range $page := first 6 $series.Pages }}
{{- if ne $page.Permalink $permalink }}
<meta property="og:see_also" content="{{ $page.Permalink }}" />{{ end }}
{{- end }}
{{ end }}
{{ end }}
{{- if .IsPage }}
{{ with .Site.Author }}
<meta property="article:author" content="{{ .Site.Permalink }}" />
<meta property="article:publisher" content="{{ .Site.Permalink }}" />
{{ end }}
<meta property="article:section" content="{{ .Section }}" />
{{- with .Params.tags }}
{{ range first 6 . }}
<meta property="article:tag" content="{{ . }}" />
{{ end }}
{{ end }}
{{ end }}

<!-- twitter -->
<meta name="twitter:title" content="{{ .Title }}" />
<meta name="twitter:description" content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end -}}" />

{{ if .IsPage }}
{{ if .Params.cover }}
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:image" content="{{ .Params.cover | absURL }}" />
{{ else }}
<meta name="twitter:card" content="summary" />
{{ end }}
{{ else }}
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:image" content="{{ .Site.Params.og_image | absURL }}" />
{{ end }}

<meta name="twitter:site" content="@{{ .Site.Params.handle }}" />